[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
	branch = v1.14.x
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "ext/Bcrypt"]
	path = ext/Bcrypt
	url = https://github.com/hilch/Bcrypt.cpp
